[Desktop Entry]
Exec=/home/soham/.local/share/freedownloadmanager/fdm %u
Icon=freedownloadmanager_torrent
MimeType=application/x-bittorrent
Name=Free Download Manager
NoDisplay=true
Type=Application
