[Desktop Entry]
Type=Application
Name=Strata
GenericName=File Manager
Comment=Navigate every layer
Exec=/home/soham/.local/bin/strata %U
Icon=io.github.lgse.Strata
Terminal=false
Categories=Utility;FileTools;FileManager;
MimeType=inode/directory;
Keywords=files;folders;browser;explorer;manager;
StartupNotify=true
StartupWMClass=io.github.lgse.Strata
