[Desktop Entry]
Type=Application
Name=Omamail
Comment=Email client for Omarchy
Exec=/home/soham/.config/omarchy/plugins/omamail/scripts/mailto.sh %u
Icon=/home/soham/.config/omarchy/plugins/omamail/assets/omamail.svg
Terminal=false
StartupNotify=false
MimeType=x-scheme-handler/mailto;
Categories=Office;Network;Email;
