[Desktop Entry]
Name=Files
Comment=Access and organize files
Exec=/home/soham/.local/bin/strata %U
Icon=org.gnome.Nautilus
Terminal=false
Type=Application
StartupNotify=true
NoDisplay=true
Hidden=true
MimeType=inode/directory;
Actions=new-window;

[Desktop Action new-window]
Name=New Window
Exec=/home/soham/.local/bin/strata
