[Desktop Entry]
Comment=Free Download Manager
Exec=/home/soham/.local/bin/fdm --hidden
Hidden=false
Name=FDM
NoDisplay=false
Type=Application
X-GNOME-Autostart-enabled=true
