[Unit]
Description=Easy Effects Audio Effects Service
Documentation=https://github.com/wwmm/easyeffects
PartOf=pipewire.service
After=pipewire.service sound.target

[Service]
Type=exec
ExecStart=/usr/bin/easyeffects --service-mode
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
