:root {
--color00: #dfe4c4;
--color01: #dfe4c4;
--color02: #dfe4c4;
--color03: #384f54;
--color04: #1c2d28;
--color05: #1c2d28;
--color06: #1c2d28;
--color07: #1c2d28;
--color08: #b14752;
--color09: #dc8164;
--color0A: #dc8164;
--color0B: #556753;
--color0C: #3d727d;
--color0D: #4c6c94;
--color0E: #8a5b81;
--color0F: #b14752;
}
